/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/CREDITS-fml.txt
/forge-1.7.2*
/build
/common
/eclipse/*
/.gradle
/bin/*
.classpath
.project
.settings/*
.checkstyle
src/api/resources/*
src/api/java/hacker/
/bin/
